# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/


# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# IOS
ios/Flutter/ephemeral/
ios/.symlinks/
ios/Pods/
ios/Runner.xcworkspace/
ios/Podfile.lock

# MacOs
macos/Flutter/ephemeral/
macos/.symlinks/
macos/Pods/
macos/Podfile.lock

# Linux & Window
linux/flutter/
linux/.dart_tool/
windows/flutter/
windows/.dart_tool/

# Web
web/generated_plugin_registrant.dart

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
android/.gradle/
android/.idea/

# VSCode
.vscode/

# Coverage / Testing
coverage/
test_output/

# Generated plugin registrants (sometimes duplicated)
**/generated_plugin_registrant.dart