.failureContainer {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 20px;
    /* Tùy chọn: thêm margin nếu cần */
}

.failureTitle {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.failureMessage {
    font-size: 1rem;
}